html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  text-align: center;
  color: #000;
  font-size: 2rem;
}

body {
  margin: 0;
  background-color: #f2f2f2;
}

img {
  width: 100%;
  max-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5rem;
}

h3 {
  font-weight: bold;
  margin: 0;
}

.author {
  font-style: italic;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0 auto 1.5rem;
  padding: 0;
  display: flex;
  font-size: .875rem;
}

li {
  margin: 0 0 1.5rem;
  padding: .75rem;
  border-left: 1px solid #333;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btn {
  display: block;
  padding: .4em .75em .3em;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border: 3px solid #333;
  border-radius: 8px;
}

.btn-small {
  font-size: .875rem;
}

.btn:hover {
  background-color: #000;
  border: 3px solid #000;
  border-radius: 8px;
}

.quest-for-anderon {
  background-color: #e2e2e2;
}

.dinosaur-knights {
  background-color: #ccc;
}

.black-dragon {
  background-color: #aaa;
}

.light-speed-laser-ships {
  background-color: #999;
}

.description {
  flex-grow: 1;
  font-size: .95rem;
}
